<div class="row">
  <div class="offset1 span3">
    <%= form_for @user, :url => { :action => "create" } do |f| %>
      <div class="field">
        <%= f.label :sprint %>
        <%= f.select(:sprint_id, @sprints.map {|s| ["#{s.number} | #{s.start.strftime("%F")} => #{s.end_sprint.strftime("%F")}", s.id]}) %>
      </div> 
      <div class="field">
        <%= f.label :name %>
        <%= f.select(:name, @team.map { |t| t.full_name }) %>
      </div>
      <div class="field">
        <%= f.label :role %>
        <%= f.select(:role, @roles.map { |r| r.name }) %>
      </div>
      <div class="field">
        <%= f.label :percentage %>
        <%= f.number_field :percent, :in => 0..100, :step => 5 %>
      </div>
      <%= f.submit "Create", :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
  