<!DOCTYPE html>
<html>
<head>
  <title>SprintReport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="<%= root_path %>">Team Member Time</a>
      <ul class="nav">
        <li class="active"><a href="<%= new_home_path %>">Add Team Member Time</a></li>
      </ul>
    </div>
  </div>

<% if flash[:notice] %>
  <div class="row">
    <div class="offset1 span 5">
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>
